/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";


///general
.mkt_header {
    color: white;
}

.mkt_header .main{
    background: navy;
    font-size: 40px;
}

.mkt_header .tab{
    background: white;
    border-bottom: 1px solid #ddd;
}

.mkt_header .tab a{
    padding: 10px 0px;
    font-size: 16px;
    color: gray;
    display: block;
    text-decoration: none;
}


.mkt_header .tab .featured{
   border-bottom: 3px solid #f00;
}


///user page

.mkt-userbox{
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
    color: black;
}

.mkt-userbox strong{
  font-size: 20px;
}

.mkt-userbox strong .age{
  font-weight: normal;
}

a.mkt-userbox{
  text-decoration: none;
}

///manage_home page

.setting-box {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
    color: black;
}

.setting-box a{
  text-decoration: none;
}
