/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";


///general


body{
  background-color: #f6f6f6;
}

.mkt_header {
    color: white;
}

.mkt_header .main{
    background: navy;
    font-size: 40px;
}

.mkt_header .tab{
    background: white;
    border-bottom: 1px solid #ddd;
}

.mkt_header .tab .featured{
   border-bottom: 3px solid orange;
}


///user page

.mkt-userbox{
    margin: 10px;
    padding: 20px 20px;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fff;
}

.mkt-userbox strong{
  font-size: 20px;
}

.mkt-userbox strong .age{
  font-weight: normal;
}

a.mkt-userbox{
  text-decoration: none;
}



///manage_home page

.setting-box {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
    color: black;
}

.setting-box a{
  text-decoration: none;
}


///User_profile page

.mkt-userprofile-box{
    margin: 10px auto;
    padding: 20px 0px;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fff;
}

.mkt-user.image img{
  max-width: 300px;
}

.mkt-user.general strong{
  font-size: 24px;
}

.mkt-user.general{
  line-height: 30px;
}

.mkt-user.detail{

}

.mkt-user{
  border-bottom: 1px #ddd solid;
  padding: 20px;
}

p{
  margin: 0px;
}

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/

  .mkt-userbox{
      margin: 10px;
      padding: 10px;
  }

  .mkt-userbox > div {
    padding: 5px;
  }

  .mkt-userbox{
    font-size: 12px;
  }

  .mkt-userbox strong{
    font-size: 16px;
  }

}
